* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(47, 88%, 63%);
  padding: 2rem;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Figtree";
  font-size: 16px;
}

span {
  background-color: hsl(47, 88%, 63%);
  border-radius: 5px;
  padding: 6px 10px;
  font-weight: 800;
  font-size: 14px;
  border: none;
}

p {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  color: hsl(0, 0%, 7%);
}

.content {
  margin-top: 0px;
  color: hsl(0, 0%, 42%);
}

.name {
  font-weight: 800;
}

.heading {
  font-weight: 800;
  margin: 4px 0px;
  cursor: pointer;
}

.heading:hover {
  color: hsl(47, 88%, 63%);
}

.container {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid black;
  height: 78vh;
  width: 330px;
  border-radius: 15px;
  box-shadow: 8px 8px rgba(0, 0, 0, 1);
  overflow: hidden;
  padding: 20px;
}

.background {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.profile-pic {
  width: 35px;
}

.nested-container-1 {
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nested-container-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
}
